@use '../../scss/colors' as *;
@use '../../scss/mixins' as *;

.comment {
  @include rounded-box($white);
}

.comment-content {
  text-align: left;
}

.comment-interactions {
  display: flex;
  justify-content: space-between;
}