@use '../../scss/colors' as *;

.reply-button {
  color: $moderate-blue;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;

  &__icon {
    display: block;
    width: 50%;
  }
}
